.profile-container {
    text-align: left;
    background: #ffffff;
}
.profile-button {
    margin-top: 15px;
}

.profile-content {
    margin-top: 5px;
}
.media-body-left{
    margin-left: 30px;
}
.media-container{
    margin-left: 15px;
}