.profile-container {
    text-align: left;
    background: #ffffff;
}
.profile-button {
    margin-top: 20px;
}

.button-in-list {
    margin-top: 10px;
}
.media-body-left{
    margin-left: 30px;
}
.media-container{
    margin-left: 15px;
}